
    
    body{
        padding: 100px 100px 100px 0px;
    }
    

    table{
            background : white;
            padding: 40px;
            
        }

        th{
            background : gray;
            color: white;
            padding: 25px;
            border: 1px dotted black;
        }

        
        tr{
           
            color: green;
        }

        td{
            padding: 10px;
            border: px dotted black;
        }
 
        td:last-child {
            background: coral;
            color: white            
        }

         td:first-child {
            background: orange;
            color: white ;           
        }
       
        td:nth-child(2), th:nth-child(2){
            font-style: italic;
            text-align: center;
        }

        tr:nth-child(odd){
            background-color: #4C8BF5;
            color: #fff;
        }

        tr:nth-child(even){
            background-color: rgb(7, 247, 87);
            color: #fff;
        }
    